VITE_AZURE_CLIENT_ID=
VITE_AZURE_TENANT_ID=
VITE_AZURE_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_GATEWAY_URL=http://localhost:3000
VITE_HISTORY_TURNS=3 # Número de turnos de conversación a enviar al gateway para mantener el contexto (ajustable)

