AZURE_OPENAI_ENDPOINT=https://<your-resource-group>.openai.azure.com/
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
HISTORY_TURNS=3
SEND_SYSTEM_PROMPT=true

FRONTEND_URL=http://localhost:5173

GATEWAY_PORT=3000

# Microservicios MCP
MCP_SQL_URL=http://localhost:3002
# MCP_AZURE_MONITOR_URL=http://localhost:3003   ←
# MCP_DEVOPS_URL=http://localhost:3004          ← 






