#IPs de los servidores SQL a conectar
SQL_SERVER_01=
SQL_SERVER_02=
SQL_SERVER_03=

###Este usuario debe ser existente y tener permisos de administrador en todos los SQL_SERVER_N##
#puede ser el usuario sa
SQL_USER=               
SQL_PASSWORD=

MCP_SQL_PORT=3002